In [2]:
import pandas as pd

In [5]:
#Creating a Sieries
#Pandas series is a 1-d container, it represents each column of the dataframe
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [7]:
s = pd.Series(['a','b','c'],['1','2','3'])
#([,index=[]])
print(s)

1    a
2    b
3    c
dtype: object

In [13]:
#Creating a dataframe
scientists = pd.DataFrame({'Name':['Glenn','Daisy','Sally'],
                          'Age':[25,25,25]
                          })
print (scientists)

    Name  Age
0  Glenn   25
1  Daisy   25
2  Sally   25

In [18]:
#with ordered dic
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name',['Rk','WG']),
    ('Occupation',['chemist','statistician']),
    ('age',[29,31])
]))
print(scientists)

  Name    Occupation  age
0   Rk       chemist   29
1   WG  statistician   31

In [19]:
#The seRies
scientist = pd.DataFrame(data = {
    'Occupation':['chemist','statistician'],
    'Born':['1920-07-25','1876-06-13'],
    'Died':['1958-04-16','1937-10-16'],
    'age':[37,61]},
    index = ['RF','WG'],
    columns = ['Occupation','Born','Died','age'])
print(scientist)

      Occupation        Born        Died  age
RF       chemist  1920-07-25  1958-04-16   37
WG  statistician  1876-06-13  1937-10-16   61

In [22]:
#select by row index name
rf = scientist.loc['RF']
print(type(rf))
print(rf)
print(rf.index)
print(rf.values)
print(rf.keys())

<class 'pandas.core.series.Series'>
Occupation       chemist
Born          1920-07-25
Died          1958-04-16
age                   37
Name: RF, dtype: object
Index(['Occupation', 'Born', 'Died', 'age'], dtype='object')
['chemist' '1920-07-25' '1958-04-16' 37]
Index(['Occupation', 'Born', 'Died', 'age'], dtype='object')

In [74]:
st = pd.read_csv('C:/Users/Glenn/data/scientists.csv')
print(st.head())
print(type(st))

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist
<class 'pandas.core.frame.DataFrame'>

In [41]:
ages = st['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [42]:
#basic info
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [45]:
print(ages>ages.mean())
print(ages[ages>ages.mean()])
print(type(ages>ages.mean()))

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
<class 'pandas.core.series.Series'>

In [47]:
#get index 0,1,4,5,7 by bool
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [49]:
#operations are automatically aligned and cvectorized
#vector of the same len
print(ages)
print(ages+ages)
print(ages*ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [50]:
#vector with integers
print(ages+100)
print(ages*100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0    3700
1    6100
2    9000
3    6600
4    5600
5    4500
6    4100
7    7700
Name: Age, dtype: int64

In [51]:
#vector with diff len
print(ages+pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [53]:
#vectors with common index label(automatic alignment)
print(ages)
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)
print(rev_ages+ages)
print(ages*2)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [55]:
#thedataframe
print(st[st['Age']>st['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [56]:
#broadcasting from numpy
print(st*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [57]:
#making changes to series and dataframe
#add additional columns
print(st['Born'].dtype)
print(st['Died'].dtype)

object
object

In [61]:
#need to conver as daate format
born_date = pd.to_datetime(st['Born'],format='%Y-%m-%d')
print(born_date)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [80]:
died_date = pd.to_datetime(st['Died'],format='%Y-%m-%d')
print(st)
st['born_dt'],st['died_date']=(born_date,died_date)
print(st)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   77  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt  died_date
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   77  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt  died_date
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

In [71]:
#directly change the column
print(st['Age'])

0    90
1    56
2    77
3    41
4    37
5    66
6    61
7    45
Name: Age, dtype: int64

In [81]:
print(st)
#set seed to 42
import random as rd
rd.seed(42)
rd.shuffle(st['Age'])
print(st['Age'])
print(st)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   77  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt  died_date
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23
0    90
1    56
2    77
3    41
4    37
5    66
6    61
7    45
Name: Age, dtype: int64
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   77               Nurse
3           Marie Curie  1867-11-07  1934-07-04   41             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   37           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   61  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   45       Mathematician

     born_dt  died_date
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

In [82]:
#random_state is used to keep the randomization less random
st['Age']=st['Age'].sample(len(st['Age']),random_state=24).reset_index(drop=True)#value stay randmized
print(st['Age'])
print(st)

0    45
1    66
2    61
3    37
4    56
5    90
6    41
7    77
Name: Age, dtype: int64
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   45             Chemist
1        William Gosset  1876-06-13  1937-10-16   66        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   61               Nurse
3           Marie Curie  1867-11-07  1934-07-04   37             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   90           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt  died_date
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

In [84]:
#subtracting data
st['age_days_dt']=(st['died_date']-st['born_dt'])
print(st)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   45             Chemist
1        William Gosset  1876-06-13  1937-10-16   66        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   61               Nurse
3           Marie Curie  1867-11-07  1934-07-04   37             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   90           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt  died_date age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [88]:
#convert into the year
st['age_years_dt']=st['age_days_dt'].astype('timedelta64[Y]')
print(st)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   45             Chemist
1        William Gosset  1876-06-13  1937-10-16   66        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   61               Nurse
3           Marie Curie  1867-11-07  1934-07-04   37             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   90           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt  died_date age_days_dt  age_years_dt
0 1920-07-25 1958-04-16  13779 days          37.0
1 1876-06-13 1937-10-16  22404 days          61.0
2 1820-05-12 1910-08-13  32964 days          90.0
3 1867-11-07 1934-07-04  24345 days          66.0
4 1907-05-27 1964-04-14  20777 days          56.0
5 1813-03-15 1858-06-16  16529 days          45.0
6 1912-06-23 1954-06-07  15324 days          41.0
7 1777-04-30 1855-02-23  28422 days          77.0

In [89]:
#dropping values
print(st.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_date',
       'age_days_dt', 'age_years_dt'],
      dtype='object')

In [92]:
#drop the shuffled age column
st_drop = st.drop(['Age'],axis=1)
print(st_drop.head())

                   Name        Born        Died    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14     Biologist 1907-05-27

   died_date age_days_dt  age_years_dt
0 1958-04-16  13779 days          37.0
1 1937-10-16  22404 days          61.0
2 1910-08-13  32964 days          90.0
3 1934-07-04  24345 days          66.0
4 1964-04-14  20777 days          56.0

In [94]:
#exporting and importing the data
names = st['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [98]:
#pass in a string to local, and dataframe
names.to_pickle('C:/Users/Glenn/data/output/scirntists_names_series.pickle')
st.to_pickle('C:/Users/Glenn/data/output/scientists_df.pickle')

In [99]:
#save name to csv
names.to_csv('C:/Users/Glenn/data/output/scirntists_names_series.csv')

C:\Users\Glenn\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.